/* 整篇内容内外边距为0 */
*{
  padding: 0;
  margin: 0;
}
/* 所有li标签前面的小黑点取消 */
li{
  list-style: none;
}
/* 所有a链接标签的下划线取消 */
a{
  text-decoration: none;
}
.w{
  width: 1920px;
  margin: 0 auto;
  /* background-color: mediumseagreen; */
}
.claer{
  clear:both;
}
/* 头部部分内容格式 */
.navp{
  overflow: hidden;
  float: left;
  height: 104px;
  background-color: #fdfeff;
}
.navp img{
  margin: 36px 272px 25px 261px;
}
.nav .navt{
  height: 104px;
  background-color: #fdfeff;
}
.navt ul li{
  float: left;
  line-height: 104px;
  font-size: 16px;
  padding: 0 22px;
}
.navt ul li:nth-child(4){
  color: #4517af;
}
.navt ul li:nth-child(8){
  width: 26px;
height: 26px;
background: url(imgs/login.png)no-repeat;
margin-top: 35px;
margin-left: 31px;
}
.navt ul li:nth-child(9){
letter-spacing: 2px;
width: 76px;
height: 56px;
background: #4517AF;
border-radius: 11px;
line-height: 56px;
color: #fff;
margin-left: 12px;
margin-top: 24px;
margin-left: 28px;
}
.header-hd{
  overflow: hidden;
  width: 1920px;
height: 460px;
background: pink;
}
.header-hd h3{
  width: 507px;
height: 47px;
font-size: 50px;
font-family: Source Han Sans CN;
font-weight: 300;
color: #FFFFFF;
text-shadow: 0px 13px 32px rgba(0,0,0,0.23);
margin-top: 149px;
margin-left: 707px;
}
.header-hd h4{
  width: 149px;
height: 23px;
font-size: 24px;
font-family: Source Han Sans CN;
font-weight: 500;
color: #1F2329;
padding: 15px 29px 14px 28px;
background: #FFFFFF;
box-shadow: 0px 13px 32px 0px rgba(0,0,0,0.23);
border-radius: 26px;
margin-top: 87px;
margin-left: 857px;
line-height: 24px;
}
.header-bd{
  overflow: hidden;
  height: 1070px;
  background:#FFFFFF;
}
.header-bd .point{
  margin-top: 75px;
  margin-left: 1772px;
  width: 70px;
  height: 27px;
}  
.header-bd .point ul li{
  float: left;
  width: 9px;
  height: 9px;
  background: #D3D3D3;
border-radius: 50%;
margin-right: 14px;
margin-bottom: 8px;
}
.challenge ul li:nth-child(1){
  width: 30px;
  height: 4px;
  background: #4617AF;
  border-radius: 2px;
  margin-top: 37px;
  margin-left: 945px;
}
.challenge ul li:nth-child(2){
  width: 165px;
  height: 31px;
  font-size: 32px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #1F2329;
  margin-top: 19px;
  margin-left: 877px;
}
.challenge ul li:nth-child(3){
  width: 247px;
  height: 18px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #7B7E81;
  letter-spacing: 2px;
  margin-top: 17px;
  margin-left: 834px;
}
.challenge ul li:nth-child(4) img{
  float: left;
margin-top: 97px;
margin-left: 486px;

}
.challenge ul li:nth-child(5) img{
  float: left;
margin-top: 97px;
margin-left: 33px;
margin-bottom: 177px;

}
.intro p{
  text-align: center;
  width: 564px;
  height: 136px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #000000;
  line-height: 56px;
  margin-left: 684px;
}
.yunying{
  overflow: hidden;
  width: 1920px;
height: 944px;
background: #F7F7FA;
}
.yunying .line{
  width: 30px;
height: 4px;
background: #4617AF;
border-radius: 2px;
margin-top: 104px;
margin-left: 945px;
}
.yunying .title{
  width: 769px;
  height: 32px;
  font-size: 32px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #1F2329;
  margin-top: 19px;
  margin-left: 575px;
}
.yunying .eng{
  width: 335px;
height: 18px;
font-size: 16px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
letter-spacing: 2px;
margin-top: 16px;
margin-left: 791px;
}
.yunying .text1{
  float: left;
  width: 307px;
height: 60px;
border: 1px solid #1F2228;
border-radius: 10px;
margin-top: 82px;
margin-left: 484px;
text-align: center;
margin-bottom: 53px;
}
.text1 p{
  width: 261px;
height: 19px;
font-size: 20px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #1F2329;
line-height: 60px
}
.text2{
  float: left;
width: 307px;
height: 60px;
border: 1px solid #1F2228;
border-radius: 10px;
margin-top: 82px;
margin-left: 16px;
text-align: center;
}
.text2 p{
width: 238px;
height: 19px;
font-size: 20px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #1F2329;
line-height: 33px;
line-height: 60px;
}
.text3{
  float: left;
  width: 307px;
height: 60px;
border: 1px solid #1F2228;
border-radius: 10px;
margin-top: 82px;
margin-left: 15px;
text-align: center;
}
.text3 p{
width: 260px;
height: 19px;
font-size: 20px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #1F2329;
line-height: 33px;
line-height: 60px;
}
.photo{
  width: 947px;
  height: 436px;
  margin-left: 484px;
}
.footer-hd{
  width: 1199px;
height: 193px;
background: #F8F8FA;
border-radius: 20px;
  background: url(imgs/bkgd.png)no-repeat;
  margin-top: 86px;
}
.footer-hd p{
  width: 398px;
height: 32px;
font-size: 30px;
font-family: OPPOSans;
font-weight: normal;
color: #1F2329;
line-height: 193px;
margin-left: 165px;
}
.footer-hd .img1{
  float: left;
margin-top: 42px;
margin-left: 601px;
}
.footer-hd .img2{
  float: right;
  margin-right: 203px;
  margin-top: -8px;
}
.footer-bd{
  overflow: hidden;
  position: relative;
  width: 1920px;
height: 416px;
background: #202328;
margin-top: 79px;
}
.footer-bd .box15 .p66 {
  position: absolute;
 width: 208px;
 height: 35px;
 top: 88px;
 left: 361px;
}
/* 设置为绝对定位,在box15里可以定位任意位置 */
.footer-bd .box15 .p67{
  position: absolute;
  width: 165px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 14px;
top: 146px;
left: 361px;
}
/* footer里的box15中的p标签全部设置为绝对定位,使其可以定位到box15的任意位置上 */
.footer-bd .box15 p{
  position: absolute;
}
/* 设置为绝对定位,在box15里可以定位任意位置 */
.footer-bd .box15 .p68{
  width: 224px;
height: 16px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 14px;
top: 172px;
left: 361px;
}
/* footer里的box15中的p69,p70,p71,p72同时设置下列格式 */
.footer-bd .box15 .p69,.p70,.p71,.p72{
width: 57px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 10px;
}
/* 设置为绝对定位,在box15里可以定位任意位置 */
.footer-bd .box15 .p69{
top: 92px;
left: 675px;
}
/* 设置为绝对定位,在box15里可以定位任意位置 */
.footer-bd .box15 .p70{
top: 91px;
left: 833px;
}
/* 设置为绝对定位,在box15里可以定位任意位置 */
.footer-bd .box15 .p71{
  top: 91px;
  left: 991px;
}
/* 设置为绝对定位,在box15里可以定位任意位置 */
.footer-bd .box15 .p72{
  top: 91px;
  left: 1147px;
}
/* footer里的box15中的p73,p74,p75,p76.p77,p78,p79,p80,p81同时设置下列格式 */
.footer-bd .box15 .p73,.p74,.p75,.p76,.p77,.p78,.p79,.p80,.p81{
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #FFFFFF;
line-height: 10px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p73{
  width: 72px;
  height: 14px;
top: 133px;
left: 675px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p74{
  width: 69px;
  height: 14px;
  top: 133px;
  left: 833px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p75{
  width: 86px;
  height: 14px;
  top: 133px;
  left: 990px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p76{
  width: 57px;
  height: 14px;
  top: 133px;
  left: 1148px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p77{
  width: 116px;
  height: 14px;
  top: 157px;
  left: 675px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p78{
  width: 72px;
  height: 14px;
  top: 157px;
  left: 833px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p79{
  width: 86px;
  height: 14px;
  top: 157px;
  left: 991px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p80{
  width: 57px;
  height: 14px;
  top: 157px;
  left: 1148px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p81{
  width: 57px;
  height: 14px;
  top: 180px;
  left: 833px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p82{
  width: 677px;
  height: 1px;
  background: #464646;
top: 266px;
left: 623px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p83{
width: 70px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 14px;
top: 282px;
left: 683px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p84{
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 14px;
  top: 282px;
  left: 769px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p85{
  width: 43px;
height: 13px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #FFFFFF;
line-height: 14px;
top: 282px;
left: 887px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p86{
  width: 86px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #FFFFFF;
line-height: 14px;
top: 282px;
left: 977px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p87{
  width: 129px;
height: 13px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #FFFFFF;
line-height: 14px;
top: 282px;
left: 1110px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p88{
  width: 396px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 14px;
top: 314px;
left: 763px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p89{
  width: 14px;
height: 16px;
  left: 725px;
  bottom: 63px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p90{
  width: 187px;
height: 13px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 14px;
left: 747px;
bottom: 64px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p91{
  width: 14px;
height: 16px;
left: 964px;
bottom: 63px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p92{
  width: 212px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #7B7E81;
line-height: 14px;
right: 724px;
bottom: 64px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p93{
  width: 87px;
  height: 87px;
  top: 91px;
  right: 476px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p94{
  width: 86px;
  height: 86px;
  top: 91px;
  right: 359px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p95{
  width: 82px;
height: 14px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #FFFFFF;
line-height: 14px;
top: 189px;
right: 480px;
}
/* 定位到footer里的box15的相应位置 */
.footer-bd .box15 .p96{
  width: 72px;
height: 13px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #FFFFFF;
line-height: 14px;
top: 189px;
right: 367px;
}









